@import url('../../common/style_color_themes.css');

.right-responsive-filter {
    width: 250px;
    height: 100vh;
    display: none;
    padding: 10px;
    flex-direction: column;
    background-color: var(--filter-menu-bg);
    position: fixed;
    right: 0;
}

.btn-fechar-responsive-menu {
    cursor: pointer;
    height: 40px;
    float: right;
}