.app-screnn-user {
    display: none;
    flex-direction: column;
    padding: 20px;
}

.app-screnn-user h1 {
  color: #333333;
  text-align: center;
}

.app-screnn-user h2 {
  color: #333333;
  margin-bottom: 5px;
}

.app-screnn-user  div {
  background-color: #b63636;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

