@import url('../common/style_color_themes.css');

.form-nova-tarefa {
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-nova-tarefa input,
.form-nova-tarefa  select,
.form-nova-tarefa textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-bottom: 10px;
}

textarea {
    outline: none;
    height: 120px;
    max-height: 120px;
}


.form-nova-tarefa label {
    font-weight: bold;
}


input[type="submit"] {
    background-color: var(--btn-bg);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: var(--btn-hover-bg);
}