@import url('../common/style_color_themes.css');

body {
    margin: 0;
    overflow: hidden; /*usado para esconder as barras rolagem*/
    background-color: var(--body-bg);
    color: var(--body-text-color);
}


body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container-app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 220px;
    min-width: 220px;
    height: 100vh;
    border-right-style: solid;
    border-color: var(--element-border-color);
    border-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-infos-section {
    width: 100%;
    height: 380px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.foto-do-usuario {
    width: 140px;
    margin-top: 10px;
    border-radius: 70px;
    box-shadow: 0px 10px 20px -2px var(--element-box-shadow);
}

.user-name {
    text-shadow: var(--body-text-shadow) 0.1em 0.1em 0.1em;
}

.bi-user, .bi-user ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.data-card {
    height: 70px;
    width: 90px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid;
    border-color: #57555318;
    background-color: var(--element-bg);
    border-width: 1px;
    box-shadow: 0px 10px 20px -8px var(--element-box-shadow);
}


.data-card h6 {
    font-size: 15px;
}



.categories {
    width: 100%;
    height: calc(100% - 434px); /*Considerando borda e tamanho dos elementos*/
    border-top-style: solid;
    border-color: var(--element-border-color);
    border-width: 2px;
}

.categories h2 {
    position: sticky;
    top: 0;
    height: 50px;
    padding: 10px;
    /*Estilo mudado por causa do botão*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-btn-mais-categorias { /*fazer a altura da imagem ficar com o tamanho dinamico*/
    height: 25px;
    cursor: pointer;
}

.img-btn-fechar-mais-categorias { /*fazer a altura da imagem ficar com o tamanho dinamico*/
    height: 35px;
    cursor: pointer;
}

.categories-list {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.categories-list::-webkit-scrollbar {
    display: none;
}

.categories-list li {
    height: 20px;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.categorie-color {
    width: 40px;
    height: 100%;
    border-radius: 3px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(255, 121, 12, 0.877);
    box-shadow: 0px 10px 20px -5px var(--element-box-shadow);
}

.categorie-color-filter {
    width: 40px;
    height: 100%;
    border-radius: 3px;
    margin-left: 15px;
    margin-right: 5px;
    background-color: #d9d9da;    box-shadow: 0px 10px 20px -5px #a19c95cc;
}

/*form nova categoria*/

.form-nova-categoria {
    width: 100%;
    height: 85%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-nova-categoria input {
    margin-bottom: 15px;
}

.form-nova-categoria button {
    cursor: pointer;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;    
    border: none;
    cursor: pointer;
    background-color: #11476ed7;
    box-shadow: 0px 8px 15px -8px #05253ab7;
}

.form-nova-categoria button:hover {
    background-color: #0f619cb7;
}


/* tela do app */

.app-screnn {
    width: calc(100% - 220px);
    height: 100vh;
    display: flex; /*Alterar para flex após a configuração da tela de usuário*/
    flex-direction: column;
}

/* barra de menu do app */
.menu-bar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: var(--element-border-color);
}

.list-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-buttons div {
    display: flex;
    flex-direction: row;
}

.list-buttons li {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #222324e5;
}

.menu-side-bar {
    width: 50px;
}

.menu-side-bar img {
    cursor: pointer;
    width: 50px;
}

.list-buttons li select {
    margin: 0;
}

.list-buttons li div {
    width: 20px;
}

.container-list-buttons-filter {
    width: 50%;
}

.list-buttons-filter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.list-buttons-filter li button{
    width: 100px;
    height: 70%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;    
    border: none;
    cursor: pointer;
    background-color: #11476ed7;
    box-shadow: 0px 8px 15px -8px #05253ab7;

}

.list-buttons-filter li button:hover {
    background-color: #0f619cb7;
}

.container-list-e-forms {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

.container-form-nova-tarefa {
    width: 30%;  /*Corresponde aos 70% da lista de tarefas*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    /*display: none; alterar pelo click do botão*/
}

/**Botões do roda pé*/

.buttons-option {
    width: 100%;
    min-height: 50px;
    height: 50px;
    border-top-style: solid;
    border-color: var(--element-border-color);
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.buttons-option img {
    width: 12%;
    cursor: pointer;
}


.btn-nova-tarefa {
    z-index: 2;
    position: fixed;
    bottom: 25px;
    left: 50%;
    cursor: pointer;
    width: 140px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;    
    border: none;
    cursor: pointer;
    background-color: #11476ed7;
    box-shadow: 0px 8px 15px -8px #05253ab7;
}

.btn-nova-tarefa:hover {
    background-color: #0f619cb7;
}


/* barra de rolagem */

::-webkit-scrollbar-track {
    background-color: #e2dfdfa2;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #a8a1a1;
}