@import url('../common/style_color_themes.css');

main {
    width: 85%;
}

.header {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #485261;
    box-shadow: 0 7px 20px RGBA(0,0,0,.15);
}

.container_button_mode {
    margin-right: 30px;
}

.todolist_profile a{
    height: 60px;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    color: #f35f00;
}

.todolist_profile a h1 {
    margin: 0;
}

.todolist_profile a img {
    width: 35px;
    margin-right: 20px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #717a882f;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h2 {
    color: #666;
    font-size: 24px;
    margin-bottom: 10px;
    color: #112e59;
}

h3 {
    color: #666;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #f35f00;
}

p {
    text-align: justify;
    margin-bottom: 10px;
}

a {
    color: #616060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 20px;
    color: #112e59;
}

li {
    margin-bottom: 5px;
}

strong {
    font-weight: bold;
}

/* barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #e2dfdfa2;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #a8a1a1;
}