body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    margin: 20px;
    background-color: #f8f8f8b9;
}

h2 {
    color: #666;
    font-size: 24px;
    margin-bottom: 10px;
    color: #112e59;
}

h3 {
    color: #666;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #f35f00;
}

p {
    margin-bottom: 10px;
}

a {
    color: #616060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 20px;
    color: #112e59;
}

li {
    margin-bottom: 5px;
}

strong {
    font-weight: bold;
}

